.pop-up {
    top: -40px;
    margin-left: -60px;
    background-color: rgb(45, 43, 43);
    border-radius: 5px;
  }
  
  /* Style for the pop-up image or YouTube player */
  .pop-img {
    width: 350px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  /* Style for the description buttons (if needed) */
  .description button {
    padding: 0;
    height: 3rem;
    width: 3rem;
    font-size: 1.3rem;
    border-radius: 50%;
  }
  
  /* Style for the icons (if needed) */
  .icons-black {
    background-color: rgb(35, 35, 35);
    border: 1px solid #fff;
    color: #fff;
  }